:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 1080px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.top-menu {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1150px;
  position: relative;
  width: 1920px;
  height: 194px;
  margin: 0 0 0 0;
  padding: 27px 90px 27px 90px;
  z-index: 1;
  overflow: hidden;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 253px;
  height: 55px;
  z-index: 2;
}
.screenshot {
  position: absolute;
  width: 64px;
  height: 55px;
  top: 0;
  left: 0;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-04-11/7SWSXJjZb0.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.adapt {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 48px;
  top: 0;
  left: 80px;
  font-family: Raleway, var(--default-font-family);
  font-size: 50px;
  font-weight: 800;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  background: linear-gradient(90deg, #ffffff, #1c62a5);
  z-index: 4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 327px;
  height: 60px;
  background: #ffffff;
  z-index: 5;
  overflow: hidden;
  border-radius: 30px;
}
.start-using-adapt {
  flex-shrink: 0;
  position: relative;
  width: 281px;
  height: 28px;
  font-family: Raleway, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 6;
}
.start-using {
  position: relative;
  font-family: Raleway, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 28.176px;
  text-align: center;
  background: linear-gradient(90deg, #1c65aa, #0b2844);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.adapt-1 {
  position: relative;
  font-family: Raleway, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 28.176px;
  text-align: center;
  background: linear-gradient(90deg, #1c65aa, #0b2844);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.flex-row-ace {
  position: relative;
  width: 1920.427px;
  height: 886px;
  margin: 0 0 0 0;
  z-index: 13;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
  position: absolute;
  width: 928px;
  height: 886px;
  top: 0;
  left: 0;
  padding: 130px 50px 55px 90px;
  z-index: 8;
  overflow: hidden;
}
.evaluate-buildings-impact {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 788px;
  min-width: 0;
  height: 235px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 90px;
  font-weight: 800;
  line-height: 105.66px;
  text-align: left;
  z-index: 9;
}
.climate-change-design {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 788px;
  min-width: 0;
  height: 122px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 37.568px;
  text-align: left;
  z-index: 10;
}
.share-button-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 12px;
  position: relative;
  width: 327px;
  height: 78px;
  background: linear-gradient(90deg, #1c65aa, #153c60);
  z-index: 11;
  overflow: hidden;
  border-radius: 45px;
}
.get-started {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 281px;
  height: 30px;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 12;
}
.frame-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 10px;
  position: absolute;
  width: 992.427px;
  height: 886px;
  top: 0;
  left: 928px;
  padding: 40px 144px 80px 144px;
  z-index: 13;
  overflow: hidden;
}
.ai-image {
  flex-shrink: 0;
  position: relative;
  width: 704.427px;
  height: 710px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-04-11/X4MaMf6zPW.png)
    no-repeat center;
  background-size: cover;
  z-index: 14;
}
.start-any-image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 1920px;
  height: 122px;
  margin: 520px 0 0 0;
  color: #ffffff;
  font-family: Raleway, var(--default-font-family);
  font-size: 90px;
  font-weight: 800;
  line-height: 105.66px;
  text-align: center;
  white-space: nowrap;
  z-index: 7;
}
.screenshot-4 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  top: 0px;
  left: 0px;
  background: url(https://codia-f2c.s3.us-west-1.amazonaws.com/image/2025-04-11/8eytX0uRw1.png)
    no-repeat center;
  background-size: cover;
}
